In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
! pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 49 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 59.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=b3df6e1c6df53eae691785dd7eb0e72e159a91526eedb96c24c9b491832a4f51
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [6]:
# load the csv into a dataframe
df = spark.read.csv("/content/sample_data/carprice.csv", header=True, inferSchema=True)
df

+---+--------------------+----------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+
| ID|                Name|  Location|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|Mileage_kmpl|Engine_CC|Power_bhp|Seats|Price|
+---+--------------------+----------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+
|  1|Hyundai Creta 1.6...|      Pune|2015|            41000|   Diesel|      Manual|     First|       19.67|   1582.0|    126.2|  5.0| 12.5|
|  2|        Honda Jazz V|   Chennai|2011|            46000|   Petrol|      Manual|     First|        18.2|   1199.0|     88.7|  5.0|  4.5|
|  3|   Maruti Ertiga VDI|   Chennai|2012|            87000|   Diesel|      Manual|     First|       20.77|   1248.0|    88.76|  7.0|  6.0|
|  4|Audi A4 New 2.0 T...|Coimbatore|2013|            40670|   Diesel|   Automatic|    Second|        15.2|   1968.0|    140.8|  5.0|17.74|
|  6|Nissan Micra Dies...|    Jaipur|2013|            86999|   Diesel|      Manual|     First|       23.08|   1461.0|     63.1|  5.0|  3.5|
|  7|Toyota Innova Cry...|    Mumbai|2016|            36000|   Diesel|   Automatic|     First|       11.36|   2755.0|    171.5|  8.0| 17.5|
|  8|Volkswagen Vento ...|      Pune|2013|            64430|   Diesel|      Manual|     First|       20.54|   1598.0|    103.6|  5.0|  5.2|
|  9|Tata Indica Vista...|   Chennai|2012|            65932|   Diesel|      Manual|    Second|        22.3|   1248.0|     74.0|  5.0| 1.95|
| 10|    Maruti Ciaz Zeta|     Kochi|2018|            25692|   Petrol|      Manual|     First|       21.56|   1462.0|   103.25|  5.0| 9.95|
| 11|Honda City 1.5 V ...|   Kolkata|2012|            60000|   Petrol|   Automatic|     First|        16.8|   1497.0|    116.3|  5.0| 4.49|
| 12|Maruti Swift VDI ...|    Jaipur|2015|            64424|   Diesel|      Manual|     First|        25.2|   1248.0|     74.0|  5.0|  5.6|
| 13|Land Rover Range ...|     Delhi|2014|            72000|   Diesel|   Automatic|     First|        12.7|   2179.0|    187.7|  5.0| 27.0|
| 14|Land Rover Freela...|      Pune|2012|            85000|   Diesel|   Automatic|    Second|         0.0|   2179.0|    115.0|  5.0| 17.5|
| 15|Mitsubishi Pajero...|     Delhi|2014|           110000|   Diesel|      Manual|     First|        13.5|   2477.0|   175.56|  7.0| 15.0|
| 16|Honda Amaze S i-D...|     Kochi|2016|            58950|   Diesel|      Manual|     First|        25.8|   1498.0|     98.6|  5.0|  5.4|
| 17|Maruti Swift DDiS...|    Jaipur|2017|            25000|   Diesel|      Manual|     First|        28.4|   1248.0|     74.0|  5.0| 5.99|
| 18|Renault Duster 85...|     Kochi|2014|            77469|   Diesel|      Manual|     First|       20.45|   1461.0|     83.8|  5.0| 6.34|
| 19|Mercedes-Benz New...| Bangalore|2014|            78500|   Diesel|   Automatic|     First|       14.84|   2143.0|   167.62|  5.0| 28.0|
| 20|   BMW 3 Series 320d|     Kochi|2014|            32982|   Diesel|   Automatic|     First|       22.69|   1995.0|    190.0|  5.0|18.55|
| 21|Maruti S Cross DD...| Bangalore|2015|            55392|   Diesel|      Manual|    Second|       23.65|   1248.0|     88.5|  5.0| 8.25|
+---+--------------------+----------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+
only showing top 20 rows

In [7]:
# information about dataset
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Kilometers_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner_Type: string (nullable = true)
 |-- Mileage_kmpl: double (nullable = true)
 |-- Engine_CC: double (nullable = true)
 |-- Power_bhp: double (nullable = true)
 |-- Seats: double (nullable = true)
 |-- Price: double (nullable = true)

In [8]:
# limit result row
df.limit(5)

+---+--------------------+----------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+
| ID|                Name|  Location|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|Mileage_kmpl|Engine_CC|Power_bhp|Seats|Price|
+---+--------------------+----------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+
|  1|Hyundai Creta 1.6...|      Pune|2015|            41000|   Diesel|      Manual|     First|       19.67|   1582.0|    126.2|  5.0| 12.5|
|  2|        Honda Jazz V|   Chennai|2011|            46000|   Petrol|      Manual|     First|        18.2|   1199.0|     88.7|  5.0|  4.5|
|  3|   Maruti Ertiga VDI|   Chennai|2012|            87000|   Diesel|      Manual|     First|       20.77|   1248.0|    88.76|  7.0|  6.0|
|  4|Audi A4 New 2.0 T...|Coimbatore|2013|            40670|   Diesel|   Automatic|    Second|        15.2|   1968.0|    140.8|  5.0|17.74|
|  6|Nissan Micra Dies...|    Jaipur|2013|            86999|   Diesel|      Manual|     First|       23.08|   1461.0|     63.1|  5.0|  3.5|
+---+--------------------+----------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+

In [9]:
# select specific columns
df.select(
    'ID',
    'Name',
    'Location'
).limit(5)

+---+--------------------+----------+
| ID|                Name|  Location|
+---+--------------------+----------+
|  1|Hyundai Creta 1.6...|      Pune|
|  2|        Honda Jazz V|   Chennai|
|  3|   Maruti Ertiga VDI|   Chennai|
|  4|Audi A4 New 2.0 T...|Coimbatore|
|  6|Nissan Micra Dies...|    Jaipur|
+---+--------------------+----------+

In [10]:
# filter value in column using where
df.where((df.Year == 2014) & (df.Transmission == "Automatic")).limit(5)

+---+--------------------+---------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+
| ID|                Name| Location|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|Mileage_kmpl|Engine_CC|Power_bhp|Seats|Price|
+---+--------------------+---------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+
| 13|Land Rover Range ...|    Delhi|2014|            72000|   Diesel|   Automatic|     First|        12.7|   2179.0|    187.7|  5.0| 27.0|
| 19|Mercedes-Benz New...|Bangalore|2014|            78500|   Diesel|   Automatic|     First|       14.84|   2143.0|   167.62|  5.0| 28.0|
| 20|   BMW 3 Series 320d|    Kochi|2014|            32982|   Diesel|   Automatic|     First|       22.69|   1995.0|    190.0|  5.0|18.55|
| 44|Hyundai Elantra 2...|Bangalore|2014|            46374|   Petrol|   Automatic|     First|       14.62|   1999.0|   149.92|  5.0| 8.85|
| 75|Audi A6 2.0 TDI D...|    Delhi|2014|            56000|   Diesel|   Automatic|    Second|       18.53|   1968.0|   187.74|  5.0| 29.5|
+---+--------------------+---------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+

In [16]:
# get unique values in column
import pyspark.sql.functions as f
my_list = df.select("Year").distinct().show()
my_list

+----+
|Year|
+----+
|2003|
|2007|
|2018|
|2015|
|2006|
|2013|
|2014|
|2019|
|2004|
|1998|
|2012|
|2009|
|2016|
|2001|
|2005|
|2000|
|2010|
|2011|
|2008|
|2017|
+----+
only showing top 20 rows

In [12]:
# aggregate column
df.agg({'Engine_CC':'avg'})

+------------------+
|    avg(Engine_CC)|
+------------------+
|1627.2982930539124|
+------------------+

In [13]:
# groupby column and then agg
df.groupby('Fuel_Type').agg({'Engine_CC':'avg'})

+---------+------------------+
|Fuel_Type|    avg(Engine_CC)|
+---------+------------------+
|   Diesel|1861.6008758210824|
| Electric|             935.0|
|   Petrol|1352.2133922001472|
+---------+------------------+

In [19]:
# groupby based on column
df.groupby('Seats').agg({'Engine_CC':'avg'}).orderBy('Seats', ascending=False)

+-----+------------------+
|Seats|    avg(Engine_CC)|
+-----+------------------+
| 10.0|            2363.0|
|  9.0|            2389.0|
|  8.0|2223.4850746268658|
|  7.0|2347.8746268656714|
|  6.0|2146.9032258064517|
|  5.0|1498.3765631302945|
|  4.0|1897.5591397849462|
|  2.0|         3401.0625|
|  0.0|            3197.0|
| null|1521.1666666666667|
+-----+------------------+

In [20]:
# filter value in column
df.filter(df.Year > 2014).agg({'Power_bhp':'avg'})

+------------------+
|    avg(Power_bhp)|
+------------------+
|112.75192465192437|
+------------------+

In [37]:
df.select('Power_bhp', 'Engine_CC').printSchema()

root
 |-- Power_bhp: double (nullable = true)
 |-- Engine_CC: double (nullable = true)

In [47]:
# rounded value 
from pyspark.sql.functions import round

df.select('ID','Power_bhp', round('Power_bhp').alias('Power_bhp Rounded down')).limit(5)

+---+---------+----------------------+
| ID|Power_bhp|Power_bhp Rounded down|
+---+---------+----------------------+
|  1|    126.2|                 126.0|
|  2|     88.7|                  89.0|
|  3|    88.76|                  89.0|
|  4|    140.8|                 141.0|
|  6|     63.1|                  63.0|
+---+---------+----------------------+

In [48]:
# build temporary view
df.createOrReplaceTempView("carprice")

In [49]:
spark.sql('select * from carprice')

+---+--------------------+----------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+
| ID|                Name|  Location|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|Mileage_kmpl|Engine_CC|Power_bhp|Seats|Price|
+---+--------------------+----------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+
|  1|Hyundai Creta 1.6...|      Pune|2015|            41000|   Diesel|      Manual|     First|       19.67|   1582.0|    126.2|  5.0| 12.5|
|  2|        Honda Jazz V|   Chennai|2011|            46000|   Petrol|      Manual|     First|        18.2|   1199.0|     88.7|  5.0|  4.5|
|  3|   Maruti Ertiga VDI|   Chennai|2012|            87000|   Diesel|      Manual|     First|       20.77|   1248.0|    88.76|  7.0|  6.0|
|  4|Audi A4 New 2.0 T...|Coimbatore|2013|            40670|   Diesel|   Automatic|    Second|        15.2|   1968.0|    140.8|  5.0|17.74|
|  6|Nissan Micra Dies...|    Jaipur|2013|            86999|   Diesel|      Manual|     First|       23.08|   1461.0|     63.1|  5.0|  3.5|
|  7|Toyota Innova Cry...|    Mumbai|2016|            36000|   Diesel|   Automatic|     First|       11.36|   2755.0|    171.5|  8.0| 17.5|
|  8|Volkswagen Vento ...|      Pune|2013|            64430|   Diesel|      Manual|     First|       20.54|   1598.0|    103.6|  5.0|  5.2|
|  9|Tata Indica Vista...|   Chennai|2012|            65932|   Diesel|      Manual|    Second|        22.3|   1248.0|     74.0|  5.0| 1.95|
| 10|    Maruti Ciaz Zeta|     Kochi|2018|            25692|   Petrol|      Manual|     First|       21.56|   1462.0|   103.25|  5.0| 9.95|
| 11|Honda City 1.5 V ...|   Kolkata|2012|            60000|   Petrol|   Automatic|     First|        16.8|   1497.0|    116.3|  5.0| 4.49|
| 12|Maruti Swift VDI ...|    Jaipur|2015|            64424|   Diesel|      Manual|     First|        25.2|   1248.0|     74.0|  5.0|  5.6|
| 13|Land Rover Range ...|     Delhi|2014|            72000|   Diesel|   Automatic|     First|        12.7|   2179.0|    187.7|  5.0| 27.0|
| 14|Land Rover Freela...|      Pune|2012|            85000|   Diesel|   Automatic|    Second|         0.0|   2179.0|    115.0|  5.0| 17.5|
| 15|Mitsubishi Pajero...|     Delhi|2014|           110000|   Diesel|      Manual|     First|        13.5|   2477.0|   175.56|  7.0| 15.0|
| 16|Honda Amaze S i-D...|     Kochi|2016|            58950|   Diesel|      Manual|     First|        25.8|   1498.0|     98.6|  5.0|  5.4|
| 17|Maruti Swift DDiS...|    Jaipur|2017|            25000|   Diesel|      Manual|     First|        28.4|   1248.0|     74.0|  5.0| 5.99|
| 18|Renault Duster 85...|     Kochi|2014|            77469|   Diesel|      Manual|     First|       20.45|   1461.0|     83.8|  5.0| 6.34|
| 19|Mercedes-Benz New...| Bangalore|2014|            78500|   Diesel|   Automatic|     First|       14.84|   2143.0|   167.62|  5.0| 28.0|
| 20|   BMW 3 Series 320d|     Kochi|2014|            32982|   Diesel|   Automatic|     First|       22.69|   1995.0|    190.0|  5.0|18.55|
| 21|Maruti S Cross DD...| Bangalore|2015|            55392|   Diesel|      Manual|    Second|       23.65|   1248.0|     88.5|  5.0| 8.25|
+---+--------------------+----------+----+-----------------+---------+------------+----------+------------+---------+---------+-----+-----+
only showing top 20 rows